@import url('common.css');

html, body {
	height:100%
}

body{
	margin:0px auto auto auto;
	width:1024px;
}

fieldset.login{
	border:thin solid;
	margin:auto;
	width:300px;
	text-align:right;
}

label{
	text-align:left;
	float:left;
}

div.header{
	width:100%;
	height:110px;
	margin:0px auto auto auto;
	background-repeat:no-repeat;
	text-align:center;
	padding:0;
}

div.body{
	border:solid thin;
	padding:20px;
}

div.footer{
	height:auto;
	text-align:center;
}

div{
	margin:10px;
	
}

textarea{
	width:100%;
	height:200px;
}

input.textbox{
	width:180px;
}
