
.menu_bar ul{
	margin-top:0;
	padding-top:0;
	font:bold 13px "Arial Narrow";
	padding-left:0;
	margin-left:0;
	height:25px;
	background-color:#999999;
	border-top:solid thin white;
	border-bottom:solid thin white;
}
ul li{
	list-style:none;
	display:inline;
}

.menu_bar ul li a{
	padding:2px 0.5em;
	text-decoration:none;
	color:#000000;
	float:left;
	background-color:#999999;
	border:2px solid #999999;
}
.menu_bar ul li a:hover{
	background-color:#EEEEEE;
	border:2px solid #EEEEEE;
}
html>body .menu_bar ul li a:active{
	border-style:inset;
}
